@inherits LayoutComponentBase

<div class="page">
    <Grid Rows="1" Columns="3">
        <GridItem RowIndex="0" ColumnIndex="0"></GridItem>
        <GridItem RowIndex="0" ColumnIndex="1">
            <TextBlock FontColor="Color.Red" Visible="true">Coderish</TextBlock>
        </GridItem>
        <GridItem RowIndex="0" ColumnIndex="3"></GridItem>
    </Grid> 

    @Body
</div>
